/*
 *    COMPONENT: Card
 *
 *    Table of contents
 *    
 *    - Default styles
 *
 */

.card {
	position: relative;
	display: flex;
	flex-direction: column-reverse;
	justify-content: flex-end;
	min-width: 10rem;
	height: 100%;
	margin: 0;
	padding: govuk-spacing(4);
	border-radius: 7px;
	border: 1px solid #333;
	background-color: #fff;
	box-sizing: border-box;
	overflow: hidden;
}
  
.card__text {
	flex-grow: 1;
}
  
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	.card__content > * {
		max-width: 100%; // prevents overflow in IE11
	}
}
  
.card__content {
	height: 100%;
	display: flex;
	flex-direction: column;
}
  
.card a:focus {
	@include govuk-focused-text;
}
  
.card__description {
	margin: govuk-spacing(3) 0;
}
  
.card__link {
	text-decoration: none;

	&:link {
		color: $govuk-text-colour;
	}

	&:visited {
		color: $govuk-text-colour;
	}
}
  
.card__link::after {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1;
}
  
.card__cta {
	@extend .govuk-link;
	@extend .govuk-\!-font-size-16;
	display: block;
	flex-shrink: 0;
	color: $govuk-text-colour;
	margin-top: govuk-spacing(2);
	margin-left: auto;
	min-width: 125px;
	text-align: right;
	text-decoration: none;
}
